.slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 2em 0;
}

.item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slide {
    display: grid;
    width: 90%;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

.citiesImgs {
    width: 100%;
    height: 100%;
}

.citiesName {
    text-align: center;
}

.slide-arrow1, .slide-arrow2{
    display: none;
}

.citiesName{
    font-weight:bold;
}


@media (min-width: 1024px) {

    .slide-container {
        display: grid;
        grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
        grid-template-rows: 0.2fr repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: auto;
        width:70%
    }

    .slide-title { grid-area: 1 / 1 / 2 / 5; }
    .slide-arrow1 { grid-area: 2 / 1 / 5 / 2; }
    .slide-arrow2 { grid-area: 2 / 4 / 5 / 5; }
    .slide { grid-area: 2 / 2 / 4 / 4; }

    .arrow-container{
        width: max-content;
        height: max-content;
        margin: auto;
        background-color: white;
        border: none;
    }

    .slide-title{
        display: flex;
        justify-content:center;
        align-items:center;
    }

    .slide-arrow1, .slide-arrow2{
        width:100%;
        height:100%;
        display: flex;
        justify-content:center;
    }

    .arrow-img{
        height: 40px;
        transition: 0.3s;
    }

    .arrow-img:hover {
        transition: 0.3s;
        opacity: 0.5;
    }

    .item {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin:auto;
    }

    .slide {
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        gap: 10px;
    }

    .citiesImgs {
        width: 90%;
        height: 300px;
        position:relative;
    }

    .citiesName {
        text-align: center;
        position: relative;
        height:2rem;
        display: flex;
        width: 90%;
        justify-content:center;
        align-items:center;
        font-size:1.2rem;
        font-weight:bold;
    }

}