.comments-container {
    display: flex;
    gap: 20px;
    padding: 10px 0;
}

.comments-user-info {
    text-align: center;
    font-weight: bold;
}

.comments-user-photo {
    width: 80px;
    height: 80px;
    border-radius: 360px;
    object-fit: cover;
}

.comments-message-container {
    border: 2px solid rgba(128, 128, 128, 0.685);
    border-radius: 8px;
    width: 100%;
    padding: 10px;
}

.comments-message {
    width: max-content;
    background-color: #007aff;
    border-radius: 18px;
    padding: 5px;
}

.delete-button {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    transition: 0.3s;
}

.edit-button:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.delete-button:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.add-comment-button {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    transition: 0.3s;
}

.comments-main-container {
    display: flex;
    width: 90%;
    margin: auto;
}

.add-comment-button:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.edit-button {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    transition: 0.4s;
}

.comment-edit-delete {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width:768px) {
    .comments-container {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 425px) {
    .comments-container {
        width: 80%;
        margin: auto;
    }

    .comments-main-container {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .comments-container {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .comments-user {
        margin: auto;
    }

    .comment-edit-delete {
        flex-direction: row;
    }
}