.details-container{
    display:flex;
    justify-content:center;
    align-items:space-evenly;
    flex-direction:column;
    border: 1px solid black;
    border-radius:1rem;
    box-shadow: -12px 10px 40px 0px rgba(0,0,0,0.45);
    -webkit-box-shadow: -12px 10px 40px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: -12px 10px 40px 0px rgba(0,0,0,0.45);
    width:80%;
}

.details-img{
    width:100%;
}

.arrow-img{
    width: 20px;
}

.details-body{
    width: 70%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0;
}

.details-back-btn{
    display:flex;
    margin: 1em;
    gap:1rem;
    align-items:center;
}

.arrow-container{
    border: none;
}

@media (min-width:768px) {
    .details-container{
        width:60%;
    }
}

@media (min-width:1024px) {
    .details-container{
        width:60%;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5rem 0;
    }

    .details-back-btn{
        width:100%;
        gap: 0;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }

    .arrow-container{
        margin: 0;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .details-body{
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px 0;
    }

    .details-body p{
        width: 100%;
    }

    .details-body h2, .details-body h3{
        width: 40%;
        display: flex;
        align-items:center;
        font-size:1.5rem
    }
    .details-img-body{
        width: 80%;
        margin: 0 auto;
    }

    .details-img{
        width:100%;
    }

}