.nav{
  height:10vh;
  background-color: rgba(255, 255, 255, 0.38);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items:center;
  position:sticky;
  top: 0;
}

.navegation{
  height:100%;
  display: flex;
  justify-content:center;
  align-items:center;
}

.items-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width:10em;
  padding: 1rem 0.5rem;
  position: absolute;
  top: 10vh;
  left: 0;
  transition: all 0.5s
}

.burguer{
  height:60%;
  padding:5px;
  display: flex;
  justify-content:center;
  align-items:center;
  cursor: pointer;
}

.imgBurguer{
  height:100%;
}

.userImg{
  width:45px;
  height:45px;
  border:1px solid black;
  border-radius:100%;
}

.nav-btn{
  color: black;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid black;
  height: 2rem;
  display: flex;
  align-items: center;
  padding-left:1em;
  background-color:white;
}

.hidden{
  left: -50%
}

@media (min-width: 450px){
  .nav-btn{
    height: 2.2rem;
    width:12rem;
  }
}

@media (min-width: 1024px){
  .nav{
    gap: 10rem;
  }
}

@media (min-width: 1440px){
  .nav{
    gap: 20rem;
  }

  .nav-btn{
    height: 4rem;
    width:15rem;
    font-size:1.5rem;
  }
}