.card-itinerary{
  border:1px solid black;
  width:90%;
  margin: auto;
  border-radius:1rem;
  overflow:hidden;
  margin: 4rem auto;
  box-shadow: -12px 10px 40px 0px rgba(0,0,0,0.45);
  -webkit-box-shadow: -12px 10px 40px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: -12px 10px 40px 0px rgba(0,0,0,0.45);
}

.creator-img{
  width:75px;
  height:75px;
  border-radius:100%;
}

.container-itineraryCreator{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin:1rem 0;
  gap: 1rem;
}

.box-data{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left:1rem;
}

.title-itinerary{
  display: flex;
  justify-content:center;
  align-items:center;
  color:white;
  background-color:black;
  padding: 0.5rem 0;
  width:100%;
}

.tags-container{
  display: flex;
  gap: 0.5rem;
}

.btn-container{
  width: 100%;
  height:3rem;
  display: flex;
  justify-content:center;
  align-items: center;
}

.btn-seeMore{
  border: 1px solid black;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content:center;
  height:2rem;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-seeMore:hover{
  font-size: 1.1rem;
}

.itinerary-img{
  width: 90%;
  height:300px;
  display: flex;
  justify-content:center;
  align-items:center;
}

.itinerary-activities-comments {
  display: none;
}

@media (min-width:768px) {
  .container-itineraryCreator{
    justify-content: flex-start;
    margin-left: 1rem;
  }

  .box-data{
    flex-direction:row;
    align-items:center;
    justify-content: center;
  }
}

@media (min-width:1024px){
  .card-itinerary{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:70%;
  }

  .text{
    width: 40%;
    margin: 1rem 0;
  }

  .itinerary-img{
    width: 40%;
    margin: 1rem 0;
  }
}